/entry/src/main/js/MainAbility/app.js text eol=lf
/entry/src/main/js/MainAbility/pages/index/index.js text eol=lf
/preview-harness/entry/src/main/js/MainAbility/app.js text eol=lf
/preview-harness/entry/src/main/js/MainAbility/pages/index/index.js text eol=lf
